<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDatabaseConfigurator" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/GNB/Services/Konfitura/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDatabaseConfigurator"
                contract="Konfitura.Proxy.IDatabaseConfigurator" name="WSHttpBinding_IDatabaseConfigurator">
                <identity>
                    <servicePrincipalName value="host/PC-YMEA014730.gb.ad.corp" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>